<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nevmem.moneysaver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:usesCleartextTraffic="true"
            android:name="App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.nevmem.moneysaver.app.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.nevmem.moneysaver.app.activity.LoginPageActivity" />
        <activity android:name="com.nevmem.moneysaver.app.activity.FullDescriptionActivity" />
        <activity android:name="com.nevmem.moneysaver.app.activity.MainPage" />
        <activity android:name="com.nevmem.moneysaver.app.activity.MonthDescriptionActivity" />
        <activity android:name="com.nevmem.moneysaver.app.activity.RegisterActivity" />
        <activity android:name="com.nevmem.moneysaver.app.activity.SettingsActivity" />
        <activity android:name="com.nevmem.moneysaver.app.activity.DevSettingsActivity" />
    </application>

</manifest>